<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/post.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</li>
        <li><a href="/about">About</li>
        <li><a href="/cv">CV</li>
        <li><a href="/blog">Blog</li>
      </ul>
    </nav>
    <div class="postbody">
      {{ content }}
    </div>
    <footer>
      <ul>
        <li><a href="mailto:">email</a></li>
      </ul>
    </footer>
  </body>
</html>
